<div class="mat-card">
    <mat-card > 
        <mat-card-header class="mat-h2">Login</mat-card-header>
    <mat-card-content>
    <br>
    <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput type="text" placeholder="Enter your Username" required>
</mat-form-field>
    <br><br>
<mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Enter your password" requireds>
</mat-form-field><br><br>
    <button mat-flat-button color="primary">Login</button>
</mat-card-content>
 </mat-card> 
</div>

<div class="mat-card">
   <h2>Login</h2>
    <br>
    <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput type="text" placeholder="Enter your Username" required>
</mat-form-field>
    <br><br>
<mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Enter your password" requireds>
</mat-form-field><br><br>
    <button mat-flat-button color="primary">Login</button>
</div>